In [5]:
import geopandas

In [6]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

cities = geopandas.read_file(geopandas.datasets.get_path('naturalearth_cities'))

# For attribute join
country_shapes = world[['geometry', 'iso_a3']]

country_names = world[['name', 'iso_a3']]

# For spatial join
countries = world[['geometry', 'name']]

countries = countries.rename(columns={'name':'country'})

In [4]:
# Appending GeoSeries
joined = world.geometry.append(cities.geometry)

# Appending GeoDataFrames
europe = world[world.continent == 'Europe']

asia = world[world.continent == 'Asia']

eurasia = europe.append(asia)

/Users/danielkent/miniforge3/envs/cv/lib/python3.9/site-packages/geopandas/geoseries.py:601: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  val = getattr(super(), mtd)(*args, **kwargs)
/var/folders/dz/_wrf45ls4pv058mvwtk4m17w0000gn/T/ipykernel_45489/1555635502.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  eurasia = europe.append(asia)

In [7]:
country_shapes.head()

                                            geometry iso_a3
0  MULTIPOLYGON (((180.00000 -16.06713, 180.00000...    FJI
1  POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...    TZA
2  POLYGON ((-8.66559 27.65643, -8.66512 27.58948...    ESH
3  MULTIPOLYGON (((-122.84000 49.00000, -122.9742...    CAN
4  MULTIPOLYGON (((-122.84000 49.00000, -120.0000...    USA

In [8]:
country_names.head()

                       name iso_a3
0                      Fiji    FJI
1                  Tanzania    TZA
2                 W. Sahara    ESH
3                    Canada    CAN
4  United States of America    USA

In [9]:
country_shapes = country_shapes.merge(country_names, on='iso_a3')

country_shapes.head()

,geometry,iso_a3,name
0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",FJI,Fiji
1,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",TZA,Tanzania
2,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",ESH,W. Sahara
3,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",CAN,Canada
4,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",USA,United States of America

In [10]:
countries.head()

                                            geometry                   country
0  MULTIPOLYGON (((180.00000 -16.06713, 180.00000...                      Fiji
1  POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...                  Tanzania
2  POLYGON ((-8.66559 27.65643, -8.66512 27.58948...                 W. Sahara
3  MULTIPOLYGON (((-122.84000 49.00000, -122.9742...                    Canada
4  MULTIPOLYGON (((-122.84000 49.00000, -120.0000...  United States of America

In [11]:
cities.head()

           name                   geometry
0  Vatican City  POINT (12.45339 41.90328)
1    San Marino  POINT (12.44177 43.93610)
2         Vaduz   POINT (9.51667 47.13372)
3    Luxembourg   POINT (6.13000 49.61166)
4       Palikir  POINT (158.14997 6.91664)

In [12]:
cities_with_country = cities.sjoin(countries, how="inner", predicate='intersects')

In [13]:
cities_with_country.head()

             name                   geometry  index_right  country
0    Vatican City  POINT (12.45339 41.90328)          141    Italy
1      San Marino  POINT (12.44177 43.93610)          141    Italy
192          Rome  POINT (12.48131 41.89790)          141    Italy
2           Vaduz   POINT (9.51667 47.13372)          114  Austria
184        Vienna  POINT (16.36469 48.20196)          114  Austria